{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>{% block title %}Witamy!{% endblock %}</title>

   {% load static %}

   {# Load CSS and JavaScript #}
   {% bootstrap_css %}
   {% bootstrap_javascript jquery='full' %}

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'greetings:welcome' %}">DINGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'greetings:about' %}">O nas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Nasze Apki
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'posts:home' %}">Posty</a>
            <a class="dropdown-item" href="{% url 'books:home' %}">Biblioteka</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'greetings:contact' %}">Kontakt</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Zarejestruj</a>
        </li>
        {% endif %}            
      </ul>
    </div>
    {% if user.is_authenticated %}
    <div>
      <ul class="navbar-nav mr-auto">
        <li>
          <span class="navbar-text">Witaj, {{request.user}} | </span>
        </li>
        <li>
          <span ><a  class="nav-link" href="{% url 'logout' %}">Wyloguj</a></span>
        </li>
      </ul>
    </div>
    {% endif %} 
</nav>
<br>
<br>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>